.trackItens {
    align-items: end;
    justify-content: space-between;
    padding: .5rem;

    border: 1px solid var(--cinza-claro);
    border-radius: .5rem;

    cursor: pointer;
}

.trackItens .infos {
    gap: .5rem;
    align-items: center;

    height: 100%;
    width: 65%;
}

.trackItens .image {
    border: 1px solid var(--cinza-claro);
    border-radius: .5rem;

    width: 9rem;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
}

.infoProduct strong {
    text-transform: capitalize;
}