.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--gap-small) 0;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex: 1;
  gap: var(--gap-large);
  align-items: flex-start;
  margin-top: 0;
}

.filters {
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.products {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--gap-small);
  justify-items: right;
}

@media (max-width: 1024px) {
  .main {
    gap: var(--gap-medium);
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: var(--gap-small);
    padding: 1rem;
  }

  .filters {
    display: none;
  }
}

@media (max-width: 468px) {
  .main {
    padding: 0.8rem;
    gap: 0.8rem;
  }
}
