.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--gap-small) 0;
  margin-bottom: 0;

}

.main {
  display: flex;
  flex: 1;
  gap: var(--gap-large);
  padding: 0 3rem;
  align-items: flex-start;
  margin-top: 0;
}

.filters {
  position: sticky;
  top: 100px;
  height: fit-content;
  margin-top: 0;
  padding-top: 0;

}

.products {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: var(--gap-small);
  justify-items: center;
  padding-top: 0.5rem;

}

@media (max-width: 1024px) {
  .main {
    gap: var(--gap-medium);
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: var(--gap-small);
    padding: 1rem;
  }

  .filters {
    display: none;
  }
}

@media (max-width: 468px) {
  .main {
    padding: 0.8rem;
    gap: 0.8rem;
  }
}
