.payMethod {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pagamento {
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card {
    background-color: var(--cinza);

    color: var(--branco);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 25%;
    padding: .75rem 0;

    border-radius: .5rem;

    cursor: pointer;

    img {
        width: 50px;
    }

    i {
        font-size: 2rem;
    }
}

.cartao {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.dadosCartao {
    width: 100%;
    gap: 1rem;
}

.codigoSeguranca {
    width: 50%;
}

.validade {
    width: 50%;
    align-items: end;
    gap: 1rem;
}

.pixBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .75rem;

        padding: 0 1rem;
        width: 50%;

        text-align: center;
    }
}

.radio {
    display: none;
}

.selecionado {
    background-color: var(--laranja);
    color: var(--branco);
    transition: .2s ease-in-out;
}

.selecionado i {
    color: var(--branco);
}
