.container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 2rem;
    width: 25vw;

    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    border-radius: .8rem;
}

.icon {
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;

    border: 3px solid var(--cinza);
    border-radius: 100rem;

    box-shadow: 0 0 1rem rgba(0,0,0,0.3);

    font-size: 3rem;
}

.group {
    width: 100%;
}

.dashed {
    border: 2px dashed var(--cinza-claro);
}
