.addCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cadastro {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.inputs {
    gap: 1rem;
    align-items: flex-end;
}

.inputSmall {
    width: 20%;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--cinza-escuro);
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}

.inputDisabled {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--cinza-claro);
    background-color: var(--branco);
    color: var(--cinza-escuro);
    font-family: 'Inter', sans-serif;
    outline: none;
}

.select {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid var(--cinza-claro);
    background-color: var(--branco);
    color: var(--preto);
    font-family: 'Inter', sans-serif;
    outline: none;
    cursor: pointer;
}

.select:focus {
    border-color: var(--laranja);
}