.big {
  padding: .5rem;
  min-width: 15rem;
  height: fit-content;

  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;

  cursor: pointer;
  transition: 0.5s;
}

.small {
  padding: 0.6rem;
  min-width: 10rem;
  height: fit-content;

  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;

  cursor: pointer;
  transition: 0.5s;
}

.light {
  &.laranja {
    background-color: var(--laranja);
    color: var(--branco);

    border: 2px solid var(--laranja);

    &:hover {
      border: 2px solid var(--cinza);
      background-color: var(--cinza);
    }
  }

  &.branco {
    background-color: transparent;
    color: var(--cinza);

    border: 2px solid var(--cinza);

    &:hover {
      background-color: var(--cinza);
      color: var(--branco);
    }
  }

  &.cinza {
    background-color: var(--cinza);
    color: var(--branco);

    border: 2px solid var(--cinza);

    &:hover {
      border: 2px solid var(--laranja);
      background-color: var(--laranja);
    }
  }

  &.transparente {
    background-color: transparent;
    border: 2px solid var(--cinza);

    &:hover {
      background-color: var(--cinza);
      color: var(--branco);
    }
  }
}

.dark {
  &.branco {
    background-color: var(--branco);
    border: 2px solid var(--branco);

    color: var(--cinza);

    &:hover {
      background-color: var(--laranja);
      border-color: var(--laranja);

      color: var(--branco);
    }
  }

  &.laranja {
    background-color: var(--laranja);
    border: 2px solid var(--laranja);

    color: var(--branco);

    &:hover {
      background-color: var(--branco);
      border: 2px solid var(--branco);

      color: var(--cinza);
    }
  }

  &.transparente {
    background-color: transparent;
    border: 2px solid var(--branco);

    color: var(--branco);

    &:hover {
      border-color: var(--laranja);
      color: var(--laranja);
    }
  }
}

.quadrada {
  border-radius: 0.25rem;
}

.arredondada {
  border-radius: 3rem;
}
@media (max-width: 1400px) {
    .big {
        min-width: 13rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    .big {
        min-width: 11rem;
        padding: 0.5rem;
        font-size: 0.95rem;
    }
}

@media (max-width: 1024px) {
    .big {
        min-width: 9rem;
        padding: 0.4rem;
        font-size: 0.9rem;
    }
}
