.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    background-color: var(--cinza);
    padding: 1.8rem .9rem;
    width: 22rem;

    position: sticky;
    top: 2rem;
    height: fit-content;

    border-radius: .5rem;

    color: var(--branco);
}

.gap, h2 {
    width: 100%;
    justify-content: space-between;

    p span {
        text-decoration: none;
        font-weight: normal;

        &:hover {
            color: var(--branco);
        }
    }
}

.total, .total span{
    color: var(--laranja);
    font-weight: bold;
    text-decoration: none;
}