.user {
    gap: .5rem;
    align-items: center;
    flex-shrink: 0;

    cursor: pointer;
}

.light {
    color: var(--cinza);
}

.dark {
    color: var(--laranja);
}

.fotoPerfil {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100%;

    border: 2px solid var(--cinza);
}

.infos h3 {
    font-size: 1rem;
}

.infos p {
    font-size: .8rem;
}

.infos p, .infos h3 {
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1200px) {
    .infos h3 {
        font-size: 0.9rem;
    }
    
    .infos p {
        font-size: 0.7rem;
    }
    
    .infos p, .infos h3 {
        width: 8rem;
    }
}

@media (max-width: 1024px) {
    .infos h3 {
        font-size: 0.8rem;
    }
    
    .infos p {
        font-size: 0.6rem;
    }
    
    .infos p, .infos h3 {
        width: 6rem;
    }
}

@media (max-width: 900px) {
    .infos {
        display: none; 
    }
    
    .user {
        gap: 0; 
        margin-left: 0.5rem;
    }
}