.counter {
    border: 1px solid var(--cinza-claro);
    border-radius: .2rem;
    
    width: 7rem;
    justify-content: space-between;
}

.counter button {
    border: none;
    height: 2.5rem;
    width: 2rem;

    font-size: 1.5rem;

    background-color: transparent;

    cursor: pointer;
}

.counter p {
    width: 3rem;
    justify-content: center;
    align-items: center;
}