@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&display=swap');

:root {
    --laranja: #FA8E44;
    --cinza: #222222;
    --cinza-claro: #a5a5a5;
    --lilas: #887BB1;
    --branco: #FFFAFF;
    --branco-fumaca: #EDEDED;         
    --amarelo: #FFC633;
    --vermelho: #CA1B1B;
    --verde: #1A9431;
    --azul: #009DB5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

.px-100 {
    padding: 2rem 100px;
}

.mx-100 {
    margin: 0 100px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.children {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}