.logo {
    color: var(--laranja);
    text-transform: uppercase;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}

.logo img {
    height: 2.5rem;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.logo h1 {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1024px) {
    .logo img {
        height: 2.2rem;
    }
    
    .logo h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .logo img {
        height: 2rem;
    }
    
    .logo h1 {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 1.8rem;
    }
    
    .logo h1 {
        font-size: 1rem;
    }
}