.comentario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;

    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .data {
        color: var(--cinza-claro);
    }
}

.perfil {
    gap: .5rem;
    align-items: center;

    text-transform: capitalize;

    img {
        width: 3rem;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
}

.avaliacao {
    display: flex;
    gap: 1rem;
}

.avaliacao .stars {
    color: var(--amarelo);

    gap: .5rem;
}

.avaliacao p,
.avaliacao span {
    font-family: "Abhaya Libre", serif;
}

.avaliacao span {
    color: var(--lilas);
    text-decoration: none;

    &:hover {
        color: var(--lilas);
    }
}

.comment {
    p {
        color: var(--cinza-claro);
        text-align: justify;
    }
}