.product {
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product img {
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 1rem;
}

.product h3 {
    font-weight: normal;
    text-transform: capitalize;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.avaliacao {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avaliacao .stars {
    color: var(--amarelo);
}

.avaliacao p,
.avaliacao span {
    font-family: "Abhaya Libre", serif;
}

.avaliacao span {
    color: var(--lilas);
}

.preco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 200px;
}

.linhaPreco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    position: relative;
}

.precoAtual {
    font-family: "Abhaya Libre", serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cinza);
}

.precoAntigo {
    font-family: "Abhaya Libre", serif;
    font-size: 1.1rem;
    text-decoration: line-through;
    color: var(--lilas);
}

.desconto {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 4px 8px;
    border-radius: 10rem;
    color: var(--vermelho);
    font-family: "Abhaya Libre", serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: -5px;
}

.precoSemDesconto {
    font-family: "Abhaya Libre", serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cinza);
    text-align: center;
    width: 100%;
}

.botaoComprar {
    margin-top: 0.5rem;
}

@media (max-width: 1400px) {
    .product img {
        width: 18vw;
    }
    
    .product h3 {
        max-width: 18vw;
        font-size: 0.95rem;
    }
    
    .preco {
        width: 18vw;
    }
    
   
    .precoAtual {
        font-size: 1.5rem;
    }
    
    .precoAntigo {
        font-size: 1.1rem;
    }
    
    .desconto {
        font-size: 0.9rem;
        top: -5px;
    }
    
    .precoSemDesconto {
        font-size: 1.5rem;
        padding-bottom: 1.47rem;
        
    }
}

@media (max-width: 1200px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .product {
        width: 100%;
        height: auto;
    }
    
    .product h3 {
        max-width: 80%;
        font-size: 0.rem;
    }
    
    .preco {
        width: 80%;
    }
   
    .precoAtual {
        font-size: 1.4rem;
    }
    
    .precoAntigo {
        font-size: 1.1rem;
    }
    
    .desconto {
        font-size: 0.9rem;
        padding: 4px 8px;
        top: -5px;
    }
    
    .precoSemDesconto {
        font-size: 1.4rem;
        justify-content: center;
        padding-bottom: 1.47rem;
    }
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: 1fr;
        gap: 1.1rem;
    }
    
    .product h3 {
        font-size: 0.85rem;
    }
    
    .precoAtual {
        font-size: 1.1rem;
    }
    
    .precoAntigo {
        font-size: 0.9rem;
    }
    
    .precoSemDesconto {
        font-size: 1.1rem;
    }
    
    .desconto {
        font-size: 0.9rem;
        top: -5px;
    }
}

@media (max-width: 480px) {
    .precoAtual {
        font-size: 1.1rem;
    }
    
    .precoAntigo {
        font-size: 0.9rem;
    }
    
    .precoSemDesconto {
        font-size: 1.1rem;
    }
    
    .desconto {
        font-size: 0.9rem;
        padding: 4px 8px;
        top: -5px;
    }
    
    .linhaPreco {
        gap: 0.3rem;
    }
}