.payment {
    gap: 1rem;
}

.right {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: .75rem;

    hr {
        width: 100%;

        border: 1.5px solid var(--cinza-claro);
    }
}

.semEndereco {
    align-items: center;
    justify-content: space-between;
}

.produto {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    .titulo {
        background-color: var(--laranja);
        padding: .75rem;
        border-radius: .5rem;
    }
}

.metodoPagamento {
    border: 2px solid var(--cinza-claro);
    border-radius: .5rem;

    padding: .75rem;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.left {}