.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    text-align: center;

    i {
        font-size: 3rem;

        color: var(--verde);
        filter: drop-shadow(0 0 6px var(--verde));
    }
}

.actions {
    gap: 1rem;
}