.payProduct {
    border: 2px solid var(--cinza-claro);
    border-radius: .5rem;

    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: .75rem;

    i {
        cursor: pointer;
    }
}

.image {
    width: 7rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    border-radius: .5rem;
    border: 1px solid var(--cinza-claro);
}

.productInfo {
    width: 25%;

    h3 {
        font-size: 1.3rem;

        white-space: nowrap;      
        overflow: hidden;       
        text-overflow: ellipsis;
        width: 100%;  
    }

    p {
        color: var(--cinza-claro);
    }
}

.preco p, .precoTotal p {
    font-size: 1.3rem;

    
}

.precoTotal p {
    width: 8rem;
    text-align: right;
    flex-shrink: 0;
}