.inputGroup {
    width: 100%;
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--cinza-escuro);
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.formInput {
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    border: 1px solid var(--cinza-claro);
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: var(--transparente);
}

.formInput:focus {
    border-color: var(--laranja);
    box-shadow: 0 0 0 2px rgba(255, 107, 0, 0.1);
}


.icon {
    position: absolute;
    right: 1rem;
    color: var(--cinza);
    font-size: 1.1rem;
    z-index: 1;
}


.passwordToggle {
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    color: var(--cinza);
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.passwordToggle:hover {
    color: var(--laranja);
}


.light .formInput {
    background-color: var(--branco);
    color: var(--cinza-escuro);
}

.dark .formInput {
    background-color: var(--transparente);
    color: var(--branco);
}
.dark .icon, .dark .passwordToggle {
    color: var(--branco);
}

.dark .passwordToggle:hover {
    color: var(--laranja);
}

@media (max-width: 768px) {
    .formInput {
        height: 40px;
    }
}

@media (max-width: 480px) {
    .formInput {
        height: 38px;
        font-size: 0.9rem;
    }
    
    .icon, .passwordToggle {
        font-size: 1rem;
    }
}