.input  {
    height: 6vh;
    width: 40%;
}

.input input, .input button {
    height: 100%;

    border: none;
    
    background-color: var(--branco);
}

.input input {
    width: 90%;
    
    padding: 0 1rem;
    
    border-radius: 100px 0 0 100px;
    outline: none;
}

.input button {
    border-radius: 0 100px 100PX 0;
    
    width: 10%;
    
    font-size: 1.2rem;
    color: var(--laranja);

    cursor: pointer;
}