.configuration {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secao {
    gap: 1rem;
}

.perfil {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 100%;
}

.inputs {
    gap: 1rem;
    align-items: end;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    gap: .5rem;
    align-items: center;

    i {
        font-size: 1.5rem;
    }
}

.enderecoCompleto {
    justify-content: space-between;
}

.group {
    gap: 1.5rem;

    margin-bottom: 1rem;

    button {
        border: none;

        cursor: pointer;

        background-color: transparent;

        i {
            font-size: 1.5rem;

            transition: .5s;

            &:hover {
                color: var(--laranja);
            }
        }
    }
}

.btns {
    gap: .75rem;
}

.imageContainer {
    position: relative;
    width: 350px;

    display: flex;
}

.fotoPerfil {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;

    border: 2px solid var(--cinza);
}

.imageUploadIcon {
    position: absolute;

    bottom: 0;
    right: 40px;

    height: 40px;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

/* MODAL */

.btns {
    display: flex;
    gap: .75rem;
    justify-content: flex-end;
    align-items: center;

    width: 35%;
}