.cartProduct {
    align-items: center;
    gap: .75rem;
    padding: .75rem;
}

.cartProduct input {
    width: 1.8rem;
    height: 1.8rem;
    
    accent-color: var(--cinza);
    
    cursor: pointer;
}

.label {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: .8rem;
}

.label image {
    border-radius: .5rem;
}

.label .infos,
.label .price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label .infos {
    width: 100%;
}

.label .price {
    width: 50%;

    align-items: self-end;

    h2 {
        text-align: end;
    }
}

.gap {
    gap: .5rem;
}

.gap p {
    color: var(--cinza-claro);
}

.estoque {
    .emEstoque {
        color: var(--verde);
    }

    .semEstoque {
        color: var(--vermelho);
    }
}

.cor {
    align-items: center;
    gap: .5rem;

    p {
        color: var(--cinza);
    }

    .circle {
        border: 1px solid var(--cinza);
        height: 2rem;
        width: 2rem;

        border-radius: 100px;
    }
}

.trash {
    background-color: transparent;
    padding: .5rem 0;
    gap: .5rem;
    justify-content: center;
    align-items: center;

    border: none;

    color: var(--cinza);

    cursor: pointer;
    transition: .5s;

    i {
        font-size: 1.5rem;
    }

    &:hover {
        color: var(--laranja);
    }
}

.outOfStock {
  opacity: 0.7;
  pointer-events: none;
}
